body{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: salmon;
    width: 200px;
    height: 100vh;
    text-align: center;
    float: right;    
}
.my_image{
    display: block;
    font-size: 180px;
    color: white;
    
}
a{
    display: block;
    text-decoration: none;
    background-color: yellow;
    color: red;
    padding: 5px;
    margin: 30px 5px;
    border: 1px solid red;
    border-radius: 20px;

}

a:hover{
    background-color: green;
    color: white;
}

