* {
  margin: 2px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
}

.header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-size: 4vw;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5vw;
}

.main {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("images/Portrait.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.main__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__text-1 {
  font-size: 10vw;
}

.main__text-2, .main__text-3, .main__text-4 {
  font-size: 5vw;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 12%;
}

.footer [class^="footer__"] img {
  width: 5.3vw;
}

@media (max-width: 650px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    font-size: 5vw;
    color: goldenrod;
  }
  .header__menu {
    display: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 100%;
  }
  .main__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main__text-1 {
    display: none;
  }
  .main__text-2, .main__text-3, .main__text-4 {
    font-size: 3vw;
    color: grey;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=styles.css.map */